
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
main {
    flex: 3;
}
aside {
    flex: 1;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    margin-right: 20px;
    border-radius: 20px;
}
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.ref li{
    list-style: none;
    padding-bottom: 9px;
}

aside a{
    text-decoration : none;
}

aside li{
    padding-bottom: 4px;
}

.stud {
    text-align: center;
    line-height: 0;
    background-color: #f4f4f4;
    color: black;
    margin-top: 8px;
}

.top {
    position: fixed;
    bottom: 5%;
    right: 5%;
}
        
.top a {
    padding: 10px 20px; /* Adds padding for button-like feel */
    background-color: #333; /* Button color */
    color: white; /* Text color */
    text-decoration: none; /* Removes underline */
    border-radius: 20px; /* Rounds the corners */
    font-size: 12px; /* Adjust font size */
    font-weight: bold; /* Make the text stand out */
}

.top a:hover {
    background-color: #ffdf00; /* Darker shade on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

img{
    width: 90%;
}

section{
    border-radius: 20px;
    background-color: #f9f9f9
}

aside a{
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    width: 150px;
    background-color: #333;
    transition: background-color 0.3s, color 0.3s;
}

aside ul{
    list-style-type: none;
    padding: 0;
}

aside li{
    padding: 10px;
    text-align: center;
}

aside h3{
    text-align: center;
}

aside a:hover{
    background-color: #ffdf00;
    color: black;
}

section a{
    text-decoration: none;
    color: #f9c70c;
}

a{
    background-color: #333;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover{
    background-color: #ffdf00;
    color: #333;
}